.companyName {
  position: sticky;
  top: 0;
}

.toggleButtonIcon {
  transition: all linear 0.2s;
}

.colorGrid {
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .colorGrid {
    grid-template-columns: repeat(auto-fit, var(--bulma-grid-column-min));
  }
}
