.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  padding: 0.25rem;
}

.containerSelected {
  outline: 2px solid white;
}

.name {
  display: inline-block;
  padding-inline: 0.5rem;
}

.colorBlock {
  block-size: 4rem;
  inline-size: 100%;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
  overflow: hidden;
}
