.container {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.containerSelected {
  outline: 2px solid white;
}

.name {
  display: inline-block;
}

.colorBlock {
  block-size: 4rem;
  inline-size: 100%;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
}
