.container {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.containerSelected {
  outline: 2px solid var(--bulma-light);
  outline-offset: 2px;
}

.name {
  border-radius: 4px;
  margin-bottom: 3rem;
  width: 100%;
}
