.main-content {
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "shirt-output controls controls" "shirt-output colors colors"
    "shirt-output colors colors";
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: minmax(12.5rem, 20rem) 1fr 1fr;
  max-height: 100%;
  overflow: hidden;
}

.shirt-output-container {
  grid-area: shirt-output;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  block-size: fit-content;
}

.controls-container {
  grid-area: controls;
  border-inline-start: 2px solid var(--bulma-border);
  border-block-end: 2px solid var(--bulma-border);
}

.colors-container {
  grid-area: colors;
  overflow: auto;
  border-inline-start: 2px solid var(--bulma-border);
}
