:global html,
:global body,
:global #root {
  height: 100%;
}

.mainContent {
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "controls"
    "shirt-output"
    "colors";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  max-height: 100%;
  overflow: hidden;
}

.shirtOutputContainer {
  grid-area: shirt-output;
  border-block-end: 2px solid var(--bulma-border);
}

.controlsContainer {
  grid-area: controls;
  border-block-end: 2px solid var(--bulma-border);
}

.companiesContainer {
  grid-area: colors;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .mainContent {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 20rem 1fr 1fr;
    grid-template-areas:
      "shirt-output controls controls" "shirt-output colors colors"
      "shirt-output colors colors";
  }

  .shirtOutputContainer {
    grid-area: shirt-output;
    flex-direction: column;
    block-size: fit-content;
    max-height: 100%;
    overflow: auto;
    border-block-end: none;
    align-items: stretch;
  }

  .controlsContainer {
    border-inline-start: 2px solid var(--bulma-border);
  }

  .companiesContainer {
    overflow: auto;
    border-inline-start: 2px solid var(--bulma-border);
  }
}
