.shirt {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.img {
  width: 100%;
  display: block;
}

.spiralSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
